<div class="container mx-auto p-6">
  <h1 class="text-5xl font-bold mb-10">Projets PPE E5</h1>
  <div class="bg-white shadow-lg rounded-lg p-6 mb-6 gap-10 flex flex-row">
    <div>
      <h1 class="text-xl font-bold mb-2">BiblioTrack WEB</h1>
      <img
        src="assets\Capture d'écran 2024-01-16 002341.png"
        alt="Projet 1"
        class="mb-4 w-[500px]"
      />
      <p class="text-gray-600 mb-4 font-bold">
        Application web de gestion de bibliotèque
      </p>
      <div class="flex">
        <a
          href="chemin_vers_pdf_1.pdf"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Documentation PDF
        </a>
        <a
          href="https://ng-pokemon-app-d761d.web.app/"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Lien vers le site
        </a>
      </div>
    </div>

    <div>
      <h1 class="text-xl font-bold mb-2">BiblioTrack Data GESTION</h1>
      <img
        src="assets\Capture d'écran 2024-01-16 002341.png"
        alt="Projet 1"
        class="mb-4 w-[500px]"
      />
      <p class="text-gray-600 mb-4 font-bold">
        Gestion de donées (utilisateur, emprunts, livres, favories) de
        l'application web BiblioTrack
      </p>
      <div class="flex">
        <a
          href="chemin_vers_pdf_1.pdf"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Documentation PDF
        </a>
        <a
          href="https://ng-pokemon-app-d761d.web.app/"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Lien vers le site
        </a>
      </div>
    </div>
  </div>
  <!-- Bloc de Projet 1 -->
  <h1 class="text-5xl font-bold mb-10">Projets Personnel</h1>
  <div class="bg-white shadow-lg rounded-lg p-6 mb-6 gap-10 flex flex-row">
    <div>
      <h1 class="text-xl font-bold mb-2">Pokedex en ANGULAR</h1>
      <img
        src="assets\Capture d'écran 2024-01-16 002341.png"
        alt="Projet 1"
        class="mb-4 w-[500px]"
      />
      <p class="text-gray-600 mb-4 font-bold">Pokedex en ANGULAR</p>
      <div class="flex">
        <a
          href="chemin_vers_pdf_1.pdf"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Télécharger PDF
        </a>
        <a
          href="https://ng-pokemon-app-d761d.web.app/"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Lien vers le site
        </a>
      </div>
    </div>

    <div>
      <h1 class="text-xl font-bold mb-2">
        Projets HTML CSS / LES MERVEILLES DU MONDE
      </h1>
      <img
        src="assets\TPmerveilles.PNG"
        alt="Projet 1"
        class="mb-4 w-[500px]"
      />
      <p class="text-gray-600 mb-4 font-bold">
        Projets html css ayant pour but d'apprendre et maniée toutes les balises
        html css
      </p>
      <div class="flex">
        <a
          href="chemin_vers_pdf_1.pdf"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Télécharger PDF
        </a>
        <a
          href="https://ng-pokemon-app-d761d.web.app/"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Lien vers le site
        </a>
      </div>
    </div>
  </div>

  <!-- Bloc de Projet 2 -->
  <h1 class="text-5xl font-bold mb-10">Projets Entreprise</h1>
  <div class="bg-white shadow-lg rounded-lg p-6 mb-6 gap-10 flex flex-row">
    <div>
      <h1 class="text-xl font-bold mb-2">Wikeys</h1>
      <img src="assets\WIKEYSSS.PNG" alt="Projet 1" class="mb-4 w-[500px]" />
      <p class="text-gray-600 mb-4 font-bold">WIKEYS</p>
      <div class="flex">
        <a
          href="assets\icons\Documentation wikeys.rar"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Télécharger DOC
        </a>
        <a
          href="https://wi-keys.com"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Lien vers le site
        </a>
      </div>
    </div>

    <div>
      <h1 class="text-xl font-bold mb-2">Tekkeys</h1>
      <img
        src="assets\Capture d'écran 2024-01-16 002341.png"
        alt="Projet 1"
        class="mb-4 w-[500px]"
      />
      <p class="text-gray-600 mb-4 font-bold">Tekkeys</p>
      <div class="flex">
        <a
          href="chemin_vers_pdf_1.pdf"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2"
        >
          Télécharger PDF
        </a>
        <a
          href="https://ng-pokemon-app-d761d.web.app/"
          download
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          Lien vers le site
        </a>
      </div>
    </div>
  </div>
  <!-- Répétez la structure ci-dessus pour chaque projet avec les informations et les liens correspondants -->
</div>
