<div class="container mx-auto p-6">
  <h1 class="text-2xl font-bold text-gray-800 mb-4">
    QU'EST CE QUE LA VEILLE JURIDIQUE ?
  </h1>
  <p class="text-gray-600 mb-4">
    Au sens large, la veille juridique est une veille orientée dans le domaine
    du droit. Elle concerne essentiellement les lois, les décrets ou tout type
    d’objets juridique qui traite un sujet du droit.
  </p>
  <ul class="text-gray-600 mb-4">
    La veille juridique consiste donc pour un individu ou une organisation à :
    <li>
      - Identifier à travers différentes sources d’informations sélectionnées,
      toute nouvelle disposition juridique ou texte de droit ;
    </li>
    <li>
      - Traiter cette information en lui donnant une pertinence juridique ;
    </li>
    <li>
      - Diffuser cette information à son demandeur sur tout type de support
      adapté à ce dernier (papier, document, Internet, journaux …)
    </li>
  </ul>

  <div class="text-gray-600 mb-4">
    <h2 class="text-xl font-bold text-gray-800 mt-6 mb-2">
      Comment j'effectue ma veille juridique ?
    </h2>

    <p>
      Pour effectuer ma veille juridique, je consulte de manière journalière
      tous les forums, sites d’actualités technologiques, de droits et de
      cybersécurité.
    </p>
    <p>Pour ce faire, j’utilise différentes sources telles que :</p>
    <li>OCDE (Organisation de Coopération et de Développement Économiques),</li>
    <li>ec.europa.eu (Commission européenne),</li>
    <li>CNIL (Commission Nationale de l’Informatique et des Libertés),</li>
    <li>ANSSI (Agence Nationale de la Sécurité des Systèmes d’Information).</li>
    <p>
      Mais également, j’utilise aussi des outils tels que les flux RSS
      (Legalis), les newsletters, les réseaux sociaux et les lives conférences
      de cybersécurité. Ma veille juridique s’effectue sur les « Données
      ouvertes » / « Open data »
    </p>
  </div>

  <h2 class="text-xl font-bold text-gray-800 mt-6 mb-2">
    Mon article sera consacré à la protection des données personelles
  </h2>
  <p class="text-gray-600 mb-4">
    La protection des données personelles se divise en 5 catégorie :
  </p>
  <ul class="list-disc list-inside text-gray-600">
    <li>Le principe de finalité</li>
    <li>Le principe de proportionnalité et de pertinence</li>
    <li>Le principe d'une durée de conservation limitée</li>
    <li>Le principe de sécurité et de confidentialité</li>
    <li>Les droits des personnes.</li>
  </ul>

  <h1 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
    - Le principe de finalité
  </h1>
  <p class="text-gray-600 mb-4">
    Le responsable d'un fichier ne peut enregistrer et utiliser des informations
    sur des personnes physiques que dans un but bien précis, légal et légitime ;
  </p>

  <h1 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
    - Le principe de proportionnalité et de pertinence
  </h1>
  <p class="text-gray-600 mb-4">
    Les informations enregistrées doivent être pertinentes et strictement
    nécessaires au regard de la finalité du fichier ;
  </p>

  <h1 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
    - Le principe d'une durée de conservation limitée
  </h1>
  <p class="text-gray-600 mb-4">
    Il n'est pas possible de conserver des informations sur des personnes
    physiques dans un fichier pour une durée indéfinie. Une durée de
    conservation précise doit être fixée, en fonction du type d'information
    enregistrée et de la finalité du fichier ;
  </p>

  <h1 class="text-xl font-semibold text-gray-800 mb-4 mt-4">
    - Le principe de sécurité et de confidentialité
  </h1>
  
  <p class="text-gray-600 mb-4">
    Le responsable du fichier doit garantir la sécurité des informations qu'il
    détient. Il doit en particulier veiller à ce que seules les personnes
    autorisées aient accès à ces informations ;
  </p>
</div>
