<div class="container mx-auto p-6">
  <div class="flex justify-center mb-4">
    <img src="assets\logoslam.png" alt="" />
  </div>
  <h1 class="text-3xl font-bold text-blue-800 mb-6">
    QU'EST CE QUE LE BTS SIO ?
  </h1>
  <p class="text-gray-700 mb-6">
    Le Brevet de Technicien Supérieur aux Services Informatiques aux
    Organisations, s'adresse à ceux qui souhaitent se former en deux ans aux
    métiers d'administrateur réseau ou de développeur. Pour par la suite
    intégrer directement le marché du travail ou continuer des études, dans le
    domaine de l'informatique.
  </p>

  <h2 class="text-2xl font-semibold text-blue-700 mb-4">Option SISR</h2>
  <p class="text-gray-700 mb-6">
    L’acronyme SISR signifie « Solutions d’infrastructure, systèmes et réseaux
    ». Voici des précisions sur cette formation et ses débouchés. L’option SISR
    est destinée aux étudiants qui s’orientent vers les métiers liés à la
    conception et la maintenance d’infrastructures réseaux. Assurer la sécurité,
    la maintenance et l’installation des réseaux et des équipements
    informatiques font partie des principales missions des futurs
    administrateurs, techniciens ou pilotes d’exploitation. Des cours plus
    généraux viendront compléter la formation et apporter des compétences plus
    généralistes, permettant ainsi aux diplômés d’être opérationnels dans
    n’importe quelle entreprise. Voici les débouchés avec un BTS SIO SISR :
  </p>
  <ul class="list-disc list-inside text-gray-700 mb-8">
    <li>Technicien de production</li>
    <li>Technicien d’infrastructure</li>
    <li>Technicien réseau et télécoms</li>
    <li>Technicien systèmes et réseaux</li>
    <li>Administrateur systèmes et réseaux</li>
    <li>Support systèmes et réseaux</li>
    <li>Pilote d’exploitation</li>
    <li>Informaticien support et déploiement</li>
  </ul>

  <h2 class="text-2xl font-semibold text-blue-700 mb-4">Option SLAM</h2>
  <p class="text-gray-700 mb-6">
    Le signe SLAM signifie « Solutions Logicielles et Applications Métier ».
    Voici quelques indications sur cette seconde option du BTS SIO, ainsi des
    précisions sur cette formation et ses débouchés. L’option SLAM est destinée
    aux étudiants qui s’orientent vers les métiers liés à la conception et la
    maintenance de programmes applicatifs. Grâce à des cours spécifiques, les
    diplômés seront capables de gérer un parc informatique ou d’administrer un
    réseau au sein d’une entreprise. Ils pourront également gérer l’intégration,
    la sécurisation et la configuration des serveurs, mais aussi des postes
    clients et des équipements d’interconnexion. Voici les débouchés avec un BTS
    SIO SLAM :
  </p>
  <ul class="list-disc list-inside text-gray-700">
    <li>Développeur d'applications informatiques</li>
    <li>Développeur informatique</li>
    <li>Analyste d'applications ou d'études</li>
    <li>Analyste programmeur</li>
    <li>Chargé d'études informatiques</li>
    <li>Informaticien d'études</li>
    <li>Programmeur analyste</li>
    <li>Programmeur d'applications</li>
    <li>Responsable des services applicatifs</li>
    <li>Technicien d'études informatiques</li>
  </ul>

  <h1 class="text-3xl font-bold text-blue-800 mb-6 mt-6">
    Pourquoi au CFA INSTA
  </h1>
  <p class="text-gray-700 mb-8">
    "Le CFA Insta se distingue par son approche pratique et moderne de la
    formation en alternance. Spécialisé dans des domaines tels que
    l'informatique et le marketing digital, il allie enseignement théorique et
    expérience professionnelle, assurant une préparation optimale au marché du
    travail. Avec un accompagnement personnalisé et des partenariats
    d'entreprise solides, le CFA Insta est le choix idéal pour une carrière
    réussie dans le secteur technologiques ."
  </p>

  <h1 class="text-3xl font-bold text-blue-800 mb-6">Pourquoi l'option SLAM</h1>
  <p class="text-gray-700">
    Depuis toujours passionné par la programmation et la création numérique,
    j'ai choisi l'option SLAM du BTS SIO pour approfondir mes compétences en
    développement logiciel. Ce parcours me permet non seulement de concrétiser
    ma passion pour la technologie, mais aussi d'explorer ma créativité en
    résolvant des problèmes complexes à travers le codage. L'orientation vers
    les métiers du développement d'applications et de logiciels est en parfaite
    adéquation avec mes aspirations professionnelles. Les compétences acquises
    dans ce domaine sont très demandées sur le marché du travail, offrant ainsi
    de nombreuses opportunités de carrière. De plus, j'ai toujours été fasciné
    par la possibilité de créer des applications innovantes qui peuvent avoir un
    impact significatif dans le monde réel. En choisissant SLAM, je m'engage
    dans un parcours riche et varié, m'ouvrant les portes d'une carrière
    évolutive dans le domaine des technologies de l'information. Cela me
    permettra non seulement de développer des solutions logicielles pertinentes,
    mais aussi de rester en phase avec les évolutions technologiques constantes
    du secteur informatique. En somme, l'option SLAM du BTS SIO est pour moi le
    chemin idéal pour devenir un acteur clé dans le monde de l'informatique, en
    alliant passion, créativité et opportunités professionnelles.
  </p>
</div>
