<div class="flex justify-center items-center bg-blue-100">
  <img class="h-80" src="assets/Wikeys.png" alt="Logo Wikeys" />
</div>

<div class="container mx-auto px-4 py-6 text-gray-800 bg-white">
  <h2 class="text-2xl font-bold mb-3">Entreprise d’accueil : Wikeys</h2>
  <p class="mb-4">
    Wikeys est une moyenne entreprise qui emploie plus de 150 consultants,
    présente dans 4 pays, notamment au Maroc, en Tunisie, en Algérie, avec le
    siège social en France. Créée en 2010, elle réalise en 2021 un chiffre
    d’affaires de 7,4 millions d’euros. Wikeys joue un rôle clé dans la vie
    quotidienne des entreprises avec des besoins IT, offrant expertise et
    savoir-faire pour réinventer leur entreprise et services.
  </p>

  <h3 class="text-xl font-semibold mb-2">L’ADN de Wikeys</h3>
  <ul class="list-disc list-inside mb-4">
    <li>
      Expertise sur l’ensemble des technologies IT comme la business
      intelligence, l'intelligence artificielle et la Big data.
    </li>
    <li>Engagement fort dans le succès de chaque mission et projet IT.</li>
    <li>
      Relations de long terme avec les clients, en accompagnant leurs équipes
      tout au long du projet.
    </li>
    <li>
      Politique RH dynamique, recrutant des ingénieurs jeunes et inspirants, et
      formant des alternants pour les préparer au monde de la tech.
    </li>
  </ul>

  <h3 class="text-xl font-semibold mb-2">Mission de Wikeys</h3>
  <p class="mb-4">
    La mission est d’accompagner ses clients de la définition de la stratégie de
    travail jusqu’à la mise en œuvre des projets. Cette mise en œuvre se fait en
    4 étapes : Conseil, Conception, Réalisation, et Valorisation, incluant des
    éléments comme la roadmap, l'étude de l'architecture sécurité et cloud,
    l'intégration ERP, et le pilotage des performances et KPI.
  </p>
</div>

<div class="container mx-auto p-6 bg-gray-100">
  <h1 class="text-3xl font-bold text-gray-800 mb-4">
    Mon Expérience chez Wikeys
  </h1>
  <p class="text-gray-600 mb-4">
    En tant qu'apprenti développeur Angular chez Wikeys, j'ai eu l'opportunité
    d'acquérir des compétences fondamentales dans les technologies modernes de
    développement web, notamment en TypeScript et Angular. Cette expérience m'a
    permis d'apprendre non seulement les aspects techniques du développement
    d'applications, mais aussi la méthodologie de développement agile et
    l'importance du travail d'équipe dans un environnement professionnel.
  </p>
  <p class="text-gray-600 mb-4">
    Grâce à cette immersion dans un contexte réel de projets informatiques, j'ai
    pu comprendre le processus complet de développement, de la conception à la
    mise en production. L'accent mis sur la collaboration et la communication au
    sein de l'équipe m'a permis de développer des compétences interpersonnelles
    essentielles, tout en me familiarisant avec les meilleures pratiques de
    l'industrie.
  </p>
  <p class="text-gray-600">
    Cette expérience enrichissante chez Wikeys a été un tremplin important dans
    ma carrière, me préparant efficacement pour relever les défis du monde de la
    technologie et contribuer activement au secteur de l'IT.
  </p>
</div>
